/*@keyframes animação-caixa {
    from {
        background-color: rgb(243, 240, 82);
        top: 0px;
        left: 0px;
    }
    to {
        background-color: rgb(233, 136, 44);
        top: 200px;
        left: 100px;
}
    }
*\


   /* position: relative;
    animation-duration: 10s, 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    #caixa {  
    width: 200px;
    height: 200px;
    background-color: rgb(243, 240, 82);
    border-radius: 200px;
    /* animation: animação-caixa 2s 1s infinite alternate; */
}

#caixa:hover {
    width: 400px;
    height: 400px;
    background-color: rgb(255, 0, 0);
    transition: height 2s, width 2s, background-color 2s;
}